@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  font-size: larger;
  /* background-color: slategrey; */
   /* background-color: rgba(80, 56, 56, 0.683); */
  border-radius: 10px;
  /* text-align: left; */
  color: rgb(80, 56, 56);

}

button {
  background-color: rgb(80, 56, 56);
  color: white;
  border-color: white;
  border: solid;
  border-radius: 19px;
  padding: 8px;
  font-size: medium;
}